.sub-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  min-height: 50px;
}
.tickets-board {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 30px;
  padding: 0 3% 100px 3%;
}
.card-column {
  display: flex;
  flex-direction: column;
  background-color: #F4F5F7;
  width: -webkit-fill-available;
  max-width: 350px;
  min-height: 400px;
  padding: 10px 10px 20px 10px;

}
.card-label {
  font-size: 16px;
  margin: 10px 0px 20px 5px;
}

.card {
  background-color: #ffff;
  margin: 10px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.card-id {
  color: #7A869A;
}

.flex-row {
  display: flex;
  align-items: center;
}
.card-column .checkbox-label {
  padding-bottom: 5px;
}
h1 {
  text-align: center;
}
.reload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.reload-box span {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.reload-box img {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}



.pagination {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  background-color: #F4F5F7;
  width: 100%;
  padding: 20px 3%;
  margin: 0;
  justify-content: center;
  display: flex;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  color: #333;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pagination li.active a {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
  background-color: #f5f5f5;
  border-color: #ccc;
}

.loading, .empty {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .tickets-board {
    flex-direction: column;
    margin-bottom: 300px;
  }
  .card-column {
    margin: 0 auto;
  }
}